{% extends 'base.html.twig' %}

{% block title %}UtilisateurEquipe index{% endblock %}

{% block body %}
    <h1>UtilisateurEquipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur_equipe in utilisateur_equipes %}
            <tr>
                <td>{{ utilisateur_equipe.id }}</td>
                <td>{{ utilisateur_equipe.jour ? utilisateur_equipe.jour|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_equipe_show', {'id': utilisateur_equipe.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_equipe_edit', {'id': utilisateur_equipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_equipe_new') }}">Create new</a>
    <a href="{{ path('app_utilisateur_equipe_model_new') }}">Create new with Pattern</a>
{% endblock %}
